@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #0e0b0b;
}

/* header styling */

header {
    height: 100%;
    background: url(../images/pexels-cottonbro-4753898-min.jpg) center center no-repeat;
    background-size: cover;
}

/* Logo and headings */

#logo {
    text-align: center;
    font-size: 450%;
    margin: auto;
}

header > p {
    /* color: white; */
    font-family: Teko, sans-serif;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.5px;
    color: whitesmoke;
}

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    color: #c81212;
    letter-spacing: 2px;
}

/* Page elements */

.container {
    height: 90vh;
    width: 100vw;
}

/* About section */


/* Team section */


/* Membership section */


/* Info section */